---
---

@import "reset";
@import "variables";
@import "whole_page";

.attributes {
  color: $mediumGray;
  font: 13px Arial, san-serif;
  letter-spacing: 1px;
}

.sattr {
  margin-left: 6px;
}

.pagination {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
}

.pgc {
  padding: 0 10px;
}

.pgc.inactive {
  color: $mediumGray;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

@import "header";

article {
  padding-bottom: 8px;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  ul {
    padding-left: 20px;
  }

  li {
    padding-bottom: 5px;
  }
}

.page {
  article {
    border-bottom: 1px solid $lightGray;
  }
  .read-more {
    font-size: 14px;
  }

  .excerpt {
    margin: 16px 0;
  }
}

.post-pagination {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

.page:last-child {
  border-bottom: none;
}

.attrs {
  padding-left: 8px;
}

footer {
  text-align: center;
  color: $gray;
  p {
    font-size: 14px;
  }
  a {
    padding: 0 8px;
  }
  margin-bottom: 2em;
}

.post-list {
  margin: 0.5em 0;
  a {
    color: inherit;
    &:hover, &:active {
      color: $link;
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
