
{% assign post = include.page %}
{% capture word_count %}{{ post.content | strip_html | strip_newlines | remove: " " | remove: "—" | size }}{% endcapture %}

<span class="date">
  <i class="far fa-calendar-alt" aria-hidden="true"></i>
  {{ post.date | date: "%Y-%m-%d" }}
  <i class="fas fa-feather-alt" aria-hidden="true"></i>
  {{ word_count }}字
  <i class="far fa-folder-open" aria-hidden="true"></i>
  {% assign cat = post.categories | first %}
  {%- capture cat_url -%}
    {%- for pair in site.category_url_mapping -%}
      {% if pair.category == cat %}{{ pair.url }}{%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}
  <a href="/category/{{cat_url}}"><code class="highligher-rouge"><nobr>{{ cat }}</nobr></code></a>
</span>
