@import "variables";

.fa {
  -webkit-font-smoothing: antialiased;
}

.fa-envelope,
.fa-rss-square,
.fa-twitter {
  color: $gray;
  font-size: 20px;
  padding: 5px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-envelope:hover {
  color: #f39c12;
}

.fa-rss-square:hover {
  color: #ff6600;
}

.fa-twitter:hover {
  color: #38A1F3;
}
