// Colors
$link: #2196F3;

// Grays
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$mediumGray: #9a9a9a;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
