.share {
  display: flex;
  flex-wrap: wrap;
}

.twitter-follow-button, .twitter-share-button, fb-share-button {
  flex-shrink: 1;
  align-self: center;
  margin: 0 10px 10px 0;
}

.post-pagination {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  .prev, .next {
    flex-shrink: 1;
    width: 48%;
  }
  .next {
    text-align: right;
  }
}