---
layout: default
title: Categories · 分类
permalink: /categories/
---

<h1><a href="/categories">All Categories · 全部分类</a></h1>
<article class="page">
{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
  {%- capture cat_url -%}
    {%- for pair in site.category_url_mapping -%}
      {% if pair.category == cat %}{{ pair.url }}{%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}

    <h3 class="cat">
      <a name="{{ cat | slugize }}" href="/categories/{{cat_url}}"><i class="far fa-folder-open sattr" aria-hidden="true"></i> {{ cat }}</a>
    </h3>

    <ul style="padding-left:30px;">
    {% for post in site.categories[cat] %}
      <li class="post-list">
        <i class="far fa-file-alt"></i>
        <a href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp;<span class="attributes">{{ post.date | date: "%Y-%m-%d" }}</span>
      </li>
    {% endfor %}
    </ul>
{% endfor %}
</article>